/* Configurações gerais */
body {
  background-color: #F8F8F8; /* Cor de fundo clara */
  color: #333; /* Cor de texto escuro */
  font-family: 'Wix Madefor Display', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  text-align: left;
  line-height: 1.6;
}

/* Container principal */
.container {
  background-color: #FFFFFF; /* Fundo branco para conteúdo */
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombras suaves */
  width: 100%;
  max-width: 900px;
  margin-top: 30px;
}

header h1 {
  color: #34712F; /* Cor do título */
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Seções */
section {
  margin-bottom: 30px;
}

h2, h3 {
  color: #34712F;
  font-size: 24px;
  margin-top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  font-size: 18px;
  margin-bottom: 10px;
}

/* Tabelas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #34712F;
  background-color: #F1F4D3; /* Fundo claro para a tabela */
}

table th {
  background-color: #34712F; /* Cabeçalho verde */
  color: white;
}

table tr:nth-child(even) {
  background-color: #E5E5E5; /* Linhas alternadas mais claras */
}

table tr:hover {
  background-color: #D3D3D3; /* Hover nas linhas */
}

/* Botões */
button {
  background-color: #34712F;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2C5D3F; /* Efeito hover mais escuro */
}

a {
  color: #34712F;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

img {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin: 20px 0;
  border-radius: 8px;
}
